#documentReadyPanel {
  margin-left: 15px;
  margin-bottom: 20px;
  display: none;
  height: 100px;
  width: 98%;
  box-shadow: 10px 10px 5px #888888;
  border: 1px solid black;
  border-radius: 5px;
}

.btn {
  margin-bottom: 10px;
  border-radius: 5px;
  width: 20%;
}

#showQuiz .btn {
  margin-left: 15px;
  width: 19.75%;
}

#myForm {
  display: none;
  margin-left: 15px;
  width: 98%;
}
